.navbar{
    padding-left: 40px;
    padding-right: 40px;
    height: 80px;
    position: fixed;
    background-color: #212529;
    width: 100%;
}
#navbarSupportedContent{
    justify-content: flex-end;
  }
  .navbar-nav .nav-item{
    margin-right: 20px;
}
.main-div {
    height: 100vh;
    padding-top: 150px;
    padding-bottom: 100px;
   
  }
  
  .form-div {
    background-color: #b8dfd8;
    border-radius: 5px;
    max-width: 700px;
    height: 500px;
    margin: auto;
  
    padding: 50px;
  }
  .form-div input {
    width: 100%;
    height: 30px;
  }
  .form-div div {
    margin: 20px;
  }
  form > * {
    font-size: 15px;
    margin: 5px;
    display: block;
  
    border: none;
    border-radius: 5px;
  }
  form {
    color: #212529;
    font-weight: 700;
  }
  .btn {
    width: 80px;
    margin-top: 20px;
    font-size: 15px;
  }
  textarea {
    width: 100%;
  }